

/* Title and logo styling */

.site-title {
  display: flex;
  align-items: center;
  text-decoration: none; 
  
}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
  color: var(--bs-white);
  font-family: var(--bs-body-font-family);
  font-weight: 700;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}


/*park header*/
.global-header{
  background-color: var(--bs-black);
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto 200px;
  color: white;
}
.global-header .icon{
  width: 20px;
  height: 20px;
}
.global-header__right{
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
  justify-content: flex-end;
  color: white;
}

.global-nav__split-button a:link,
.global-nav__split-button a:visited{
  color: white;
  text-decoration: none;
}

.global-header__right button {
  cursor: pointer;
  text-transform: uppercase;
}

/*park banner*/
.park-banner{
  display: grid;
  grid-template-columns: 1fr;
}
.hero-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/3;
}
.park-banner-content{
  font-family: var(--bs-body-font-family);
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
}
.park-banner-content a{
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: var(--bs-white);
  padding: 15px 15px 15px 15px;
}
.park-banner-content span{
  font-size: 12px;
  color: var(--bs-white);
}
.park-banner-subtitle{
  display: flex;
  flex-direction: column;
}

/*icons*/
.park-header-icons-container{
  background-color: var(--bs-black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.park-header-icons-container ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.park-header-icons-container a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 10px 25px;
  align-items: center;
  justify-content: center;
}
.park-header-icons-container span{
  
  color: var(--bs-white);
  font-family: var(--bs-body-font-family);
  font-size: 12px;
  
}
.park-header-icons-container .icon{
width: 20px;
height: 20px;
}

/*nav*/
.global-nav {
  width: 100%;
  grid-column: 1/3;
  border-top: 1px solid #353535;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.global-nav button {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

.global-nav svg {
  --icon-color: white;
}

#global-nav-toggle{
  height: 100%;
  background-color: var(--bs-black);
  border-style: none;
  border-left: 1px solid var(--bs-grey-6);
  color: var(--bs-body-bg);
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  padding: 0px 0px 0px 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.global-nav__toggle--closed {
  display: flex;
  align-items: center;
}
.global-nav__toggle--open {
  display: none;
  align-items: center;
}

.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--closed {
  display: none;
}
.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--open {
  display: flex;
}

.global-nav__split-button .icon {
  transition: all 0.3s;
}

.global-nav.show,
.global-nav__submenu.show {
  max-height: 1000px;
}





/* Global nav*/

.global-nav {
  width: 100%;
  grid-column: 1/3;
  border-top: 1px solid #333;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.global-nav button {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

.global-nav__split-button__toggle > svg{
  background-color: transparent;
  --icon-color: white;
}

.global-nav__section-heading {
  margin: 0 0 0 0;
  padding: 1rem 0.626rem;
  font-size: 1.25rem;
}

.section-heading--green {
  color: var(--bs-light-green);
}

.section-heading--blue {
  color: var(--bs-chathams-blue-3);
}

.global-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #444;
}

.global-nav__split-button {
  display: flex;
  background-color: var(--bs-gray-800);
}

.global-nav__split-button > a {
  flex: 1;
  align-self: center;
  padding: 1rem 0.626rem;
  display: block;
}

.global-nav__split-button > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.25rem;
  border-left: 1px solid #444;
} 

.global-nav__split-button > button:hover,
.global-nav__split-button > a:hover {
  background-color: var(--bs-gray-900);
}

/* Submenu */
.global-nav__submenu {
  list-style: none;
  padding: 0;
  font-size: 0.8em;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s;
}

.global-nav__submenu a {
  display: block;
  padding: 1rem 0.626rem;
}

.global-nav__submenu a:hover {
  text-decoration: underline;
}




